{{ if .IsTranslated }}
<h4>{{ i18n "translations" }}</h4>
<ul class="pl0 mr3">
    {{ range .Translations }}
    <li class="list f5 f4-ns fw4 dib pr3">
      <a class="hover-white no-underline white-90" href="{{ .RelPermalink }}">
        <img style="vertical-align: middle;" src="{{ .Site.BaseURL}}/{{ .Lang }}.png" alt="{{ .Lang }}"/>
      </a>
    </li>
    {{ end}}
</ul>
{{ end }}
