<nav class="pv3 ph3 ph4-ns" role="navigation">
  <div class="flex-l justify-between items-center center">
    <a href="{{ .Site.BaseURL }}" class="f3 fw2 hover-white no-underline white-90 dib">
      {{ .Site.Title }}
    </a>
    <div class="flex-l items-center">

      {{ partial "i18nlist.html" . }}

      {{ $currentPage := . }}
      <!-- start .main-menu -->
      <ul class="pl0 mr3 site-menu">
        {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
                <li
                  class="list f5 f4-ns fw4 dib pr3 {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}"
                  aria-haspopup="true"
                  tabindex="0"
                >
                    <a class="hover-white no-underline white-90" href="{{ $.Permalink }}#">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                        <span class="mdi mdi-chevron-down" aria-hidden="true"></span>
                    </a>
                    <ul class="dropdown">
                        {{ range .Children }}
                            <li class="db {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                                <a class="hover-white no-underline white-90 lh-2" href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                        {{ end }}
                    </ul>
                </li>
            {{ else }}
              <li class="list f5 f4-ns fw4 dib pr3">
                <a class="hover-white no-underline white-90" href="{{ .URL }}">
                  {{ .Name }}
                </a>
              </li>

            {{ end }}
        {{ end }}
      </ul>
      <!-- end /.main-menu -->



      {{ partial "social-follow.html" . }}
    </div>
  </div>
</nav>
