.site-menu {
  line-height: 2.5em;
}

.dropdown {
  padding-left: 0;
  line-height: 2em;
  min-width: 5rem;
  position: absolute;
  margin-top: .4rem;
  display: none;
}

li:focus-within > .dropdown {
   display: block;
}

@media (max-width: 959px) {
  .dropdown {
    position: relative;
    margin-top: 0;
    padding-left: .5em;
  }
  .site-menu {
    display: grid;
  }
}

/* image floating */
@media (min-width: 960px) {
  img[src$='#floatleft'],
  img[src$='#floatright'] {
    width: 50%;
    min-width: 200px;
  }
  img[src$='#floatleft'] {
    float: left;
    margin-right: 1em;
    padding-right: 1em;
  }
  img[src$='#floatright'] {
   float: right;
    margin-left: 1em;
    padding-left: 1em;
  }
}
