<table>
  <script>

    window.addEventListener('DOMContentLoaded', (table_node => async (event) => {

      const sheetId = '{{ .Get "id" }}';
      const sheetName = '{{ .Get "sheetname" }}';
      const query = '{{ .Get "query" }}';
      const header = '{{ .Get "header" }}';

      const text = await (await fetch(
        `https:/`+`/docs.google.com/spreadsheets/d/${sheetId}/gviz/tq?` +
        `&sheet=${encodeURIComponent(sheetName)}&tq=${encodeURIComponent(query)}`
      )).text();

      const response = JSON.parse(
        text.slice(
          text.indexOf('{'),
          text.lastIndexOf('}')+1,
        )
      );
      // strip the non-json part of the response and parse the rest

      const values = response.table.rows.map(
        row => row.c.map(
          cell => cell.v
        )
      );
      // array of arrays with the values from the spreadsheet

      const table_model = [];
      // the table model that will be inserted in the dom.
      // Must be an array of arrays in the form:
      // [
      //   [ { tag: 'th', text: 'Name' }, ... ],
      //   [ { tag: 'td', text: 'Joseph' }, ... ],
      //   ...
      // ]

      if (header.trim() !== "") {
        table_model.push(
          header.split('|').map(cell => ({ tag: "th", text: cell }))
        );
      };
      // push the headers in the model

      values.forEach(row => {
        table_model.push(
          row.map(cell => ({ tag: "td", text: cell }))
        );
      });
      // push the values in the model

      table_model.forEach(row => {
        const tr = document.createElement('tr');
        row.forEach(cell => {
          const td = document.createElement(cell.tag);
          td.textContent = cell.text;
          tr.appendChild(td);
        });
        table_node.appendChild(tr);
      });
      // populate the table with the model

    })(document.currentScript.parentElement));
  
  </script>
  </table>
